@violeta: #f23dbc;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

body {
    background-image: linear-gradient(to right, rgb(230, 46, 205), rgb(252, 181, 181), rgb(255, 193, 224));
}
h3, h2 {
    color:@violeta;
}
.jumbotron {

color: rgb(201, 11, 84);
}

footer {
    background: rgb(247, 152, 234);
    color: black;
   .margenes(10px, 0);
    
}

#nav{
    background-image: linear-gradient(to right, rgb(255, 151, 241), rgb(252, 181, 181), rgb(167, 11, 89));
    
}

.card-home, .card {
    flex: 1 200px;
    .margenes(10px, 0);
    background-image: linear-gradient(to right, rgb(230, 46, 205), rgb(252, 181, 181), rgb(255, 193, 224));
    
    }
    .card {
      .margenes(15px, 0);
    }
.btn-info {
    width: 100%;
    border-radius: 0px;
    
}
.footer-address-icon {
    padding-right: 10px;
}
