$verde: #10ac44;
$azul: #351bc7;
$violeta: #ff50b0;
$background :  #c23f4a;
@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

body {
    background-image: linear-gradient(to right, rgb(230, 46, 205), rgb(252, 181, 181), rgb(255, 193, 224));
}
h3, h2 {
    color:$violeta;
}
.jumbotron {
color:$background;
//color: rgb(201, 11, 84);
}

footer {
    background: $verde;
    color: black;
    @include margenes(10px, 0);
    
}

#nav{
    background-image: linear-gradient(to right, rgb(255, 151, 241), rgb(252, 181, 181), rgb(167, 11, 89));
    
}

.card-home, .card {
    flex: 1 200px;
    margin-top: 10px;
    background-image: linear-gradient(to right, rgb(230, 46, 205), rgb(252, 181, 181), rgb(255, 193, 224));
    
    }
    .card {
        @include margenes(15px, 0);
    }
.btn-info {
    width: 100%;
    border-radius: 0px;
    
}
.footer-address-icon {
    padding-right: 10px;
}
