body {
  background-image: linear-gradient(to right, #e62ecd, #fcb5b5, #ffc1e0); }

h3, h2 {
  color: #ff2234; }

.jumbotron {
  color: #ff9aa3; }

footer {
  background: #f798ea;
  color: black;
  margin-top: 10px;
  margin-bottom: 0; }

#nav {
  background-image: linear-gradient(to right, #ff97f1, #fcb5b5, #a70b59); }

.card-home, .card {
  flex: 1 200px;
  margin-top: 10px;
  background-image: linear-gradient(to right, #e62ecd, #fcb5b5, #ffc1e0); }

.card {
  margin-top: 15px;
  margin-bottom: 0; }

.btn-info {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }
